* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background: #f2f2f2;
    width: 1020px;
    margin: 0 auto;
    font-size: 1.2rem;
    font-family: 'Lato', sans-serif;
}

a {
    cursor: pointer;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
    font-weight: 600;
    color: #666d89;
    margin-bottom: 20px;
}

/* ******************** PORTFOLIO ****************** */

#portfolio {
    background: #2d303a;
    padding-top: 60px;
    padding-bottom: 46px;
    border-bottom: 6px solid #323746;
}

.portfolio__description {
    font-weight: 300;
    font-size: 1.8rem;
    color: #666d89;
}

.portfolio__list {
    display: flex;
    list-style: none;
    padding: 16px 0 18px 0;
}

.portfolio__item {
    color: #666d89;
    font-size: 1.2rem;
    margin-right: 8px;
    padding: 3px 7px;
    border: 1px solid #666d89;
    border-radius: 5px;
}

.portfolio__item:hover {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.active {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.layout-4-column {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.column-3 {
    width: 220px;
    height: 187px;
    margin-bottom: 20px;
}

.column-3:nth-child(n+13){
    display:none;
  }

.column-3 img {
    width: 100%;
}

/* ******************** PORTFOLIO ****************** */

/* ******************** ABOUT ********************* */

#about {
    padding-top: 60px;
    padding-bottom: 57px;
    border-bottom: 6px solid #ffffff;
    background-color: #f2f2f2;
    border-bottom: 6px solid #fff;
}

.about__description {
    font-weight: 300;
    line-height: 30px;
    font-size: 1.8rem;
    color: #666d89;
    padding-bottom: 44px;
}

.layout-3-column {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.column-4 {
    width: 33%;
    color: #666d89;
}
.column-4:not(:first-child) {
    padding-left: 9px;
}

.column-4:nth-child(2) {
    padding-left: 4px;
}

.about-card__title {
    padding: 10px 0 13px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.about-card__description {
    line-height: 17px;
}

.about-card__social-network {
    display: flex;
    padding-top: 30px;
}

.about-card__social-network__link {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    border: 1px solid #666d89;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-card__social-network__link img {
   width: 15px;
   height: 15px;
}

.about-card__social-network__link:hover {
    background-color: #c8cee2;
}

/* ******************** ABOUT ********************* */