* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

a {
    cursor: pointer;
}

.container {
    width: 1020px;
    margin: 0 auto;
}

.header {
    height: 95px;
    background: #2d303a;
    display: flex;
    align-items: center;
}

.header__navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 2.5rem;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
}

.logo span {
    color: #f06c64;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation__item {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    margin-left: 30px;
    position: relative;
}

.navigation__item:hover {
    color: #f06c64;
}

.navigation__item:not(:first-child)::before{
    content: "";
    width: 4px;
    position: absolute;
    top: 6px;
    left: -18px;
    height: 4px;
    border-radius: 50%;
    background: #494e62;
}

/* ************* HERO ********************* */

.hero {
    background: #f06c64;
    height: calc(100vh - 95px);
    display: flex;
    align-items: center;
}

.owl-stage {
    display: flex;
    align-items: center;
}

.carousel-img__vertical{
    width: 216px;
    height: 458px;
    margin-left: 70px;
}

.carousel-img__horizontal {
    width: 458px;
    height: 216px;
}

.owl-nav{
    display: inline-block;
    color: #ca4549;
    font-size: 55px;
    height: 60px;
    width: 40px;
}

.owl-prev, .owl-next {
    position: absolute;
}

.owl-prev {
    left: -8px;
    top: 190px;
}

.owl-next {
    right: -8px;
    top: 190px;
}

/* ************* HERO ********************* */

/* ************* SERVICES ****************** */


/* ************* SERVICES ****************** */